.deck {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 1fr);
  z-index: 100;
  column-gap: 3px;
  row-gap: 3px;
  margin: auto;
}

@media (min-width: 635px) {
  .deck {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(13, 1fr);
    z-index: 100;
    column-gap: 3px;
    row-gap: 3px;
  }
}
